<html>
  <head>
    <title>AIM Multi Image &amp; Video Download PowerUp Settings</title>
    <meta name="description" content="PowerUp Settings">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        AIM Multi Image and Video Download PowerUp Settings
      </h1>
    </header>

    <main>
      <p class="bold"></p>
      <p>These are the settings for this Power Up.</p>
      <!--
      <form>
        <input type="text" maxlength="100" placeholder="Dreams!">
        <button type="submit">Submit</button>
      </form>
      -->

    </main>

    <footer>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://trello.com/power-ups/power-up.js"></script>
    <script src="/client.js"></script>

  </body>
</html>